body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-panel {
    flex: 1;
    /* background-color: #a9c8b8; */
    background-color: #074861;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.left-panel img {
    width: 300px;
    margin-bottom: 20px;
}

.left-panel h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.left-panel p {
    font-size: 14px;
    color: #f4f4f4;
}

.right-panel {
    flex: 1;
    background-color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo {
    font-family: 'Georgia', serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
}

.right-panel h2 {
    margin: 10px 0 30px;
    color: #333;
    display: flex;
    justify-content: center;
}
.right-panel h1 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-top: 10px;
    color: #555;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

.right {
    text-align: right;
    margin: 5px 0 20px;
}

.right a {
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

button[type="submit"] {
    padding: 12px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #aaa;
    font-size: 14px;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
}

.google-icon {
    width: 20px;
    margin-right: 10px;
}

.signup {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}

.signup a {
    color: #444;
    text-decoration: none;
    font-weight: 500;
}
