<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spsoft login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <img src="/static/aI.PNG" alt="Bird Illustration">
        </div>

        <div class="right-panel">
            <h1 class="logo">Spsoft Chatbot</h1>
            <h2>Welcome to Spsoft Chatbot</h2>
            <form action="/login" method="post">
                <label>User name or Email</label>
                <input type="text" name="username" placeholder="David Brooks"  required>

                <label>Password</label>
                <input type="password" name="password" placeholder="•••••••••" required>
                <div class="right">
                    <a href="#">Forgot password?</a>
                </div>

                <button type="submit">Sign in</button>
            </form>

            <div class="divider">or</div>

            <p class="signup">New User? <a href="/signup">Create Account</a></p>
        </div>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPSoft Login</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <img src="/static/aI.PNG" alt="Chatbot Illustration">
        </div>

        <div class="right-panel">
            <!-- <h1 class="logo">Spsoft Chatbot</h1> -->
             <img src="/static/spsoft.svg" alt="Logo">
            <!-- <div class="image-wrapper">
               <img src="/static/spsoft.svg" alt="Logo">
            </div> -->
            <h2>Welcome to SpSoft RMS</h2>
            <form action="/login" method="post">
                <label>Employee ID</label>
                <input type="text" name="EmpID" placeholder="" required>

                <label>Password</label>
                <input type="password" name="password" placeholder="" required>

                <div class="right">
                    <a href="#">Forgot password?</a>
                </div>

                <button type="submit">Sign in</button>
            </form>

            <div class="divider">or</div>

            <p class="signup">New User? <a href="/signup">Create Account</a></p>
        </div>
    </div>
</body>
</html>
